.cart-page {
  padding: 20px;
}

.cart-item {
  background: white;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.checkout-btn {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background: #25d366;
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 16px;
}
.whatsapp-btn {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: #25d366;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.whatsapp-btn:hover {
  background: #1ebe5d;
}
.order-note {
  width: 100%;
  min-height: 80px;
  margin: 15px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
