* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffeef7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, sans-serif;
}

body {
  background: #fff0f6;
  color: #333;
}
